<!DOCTYPE html>
<html>
    <head>
        <title>Party</title>
        <script src="../js/uikit.js"></script>
        <script src="../js/uikit-icons.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/uikit.css">
        <meta charset="utf-8">
        <style>
            * {
                margin-top: 10%;
            }
        </style>
</head>
<body>
<h1 class="uk-heading-2xlarge uk-text-center">Pseudo</h1>
<form action="joinParty.php" method="POST">
<div class="uk-container-small uk-align-center">
    <input type="text" name="pseudo" id="pseudo" class="uk-input" placeholder="Pseudo">
    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Valider</button>
</div>
</form>
</body>
</html>